---
import Layout from "../layouts/Layout.astro";
import MainNavbar from "../components/MainNavbar.astro";
import PageHero from "../components/PageHero.astro";
import PageSection from "../components/atoms/PageSection.astro";
import ServicesGrid from "../components/molecules/ServicesGrid.astro";
import ProjectCard from "../components/atoms/ProjectCard.astro";
import ContactFormSection from '../components/organizms/ContactFormSection.astro';
import MainFooter from '../components/MainFooter.astro';

---

<Layout>
  <MainNavbar />
  <main>
    <PageSection padding={["pt-large", "pb-large"]}>
      <PageHero />
    </PageSection>
    <PageSection padding={["pt-large", "pb-large"]}>
      <div class="about grid">
        <div class="about__text-column flex">
          <h2 id="about" class="heading--2">MEET JACK</h2>
          <div class="flex flex-col">
            <p>
              I am an experienced programmer with a strong background in
              software development and expertise in multiple programming
              languages.
            </p>
            <p>
              I enjoy tackling complex challenges and I am a team player who
              communicates effectively with colleagues and clients.
            </p>
          </div>
          <a href="#contact" class="button">Chat with me &#8594</a>
          <ServicesGrid />
        </div>
        <div class="about__img">
          <img src="jack.png" alt="Jacek Majda portrait" />
        </div>
      </div>
    </PageSection>
    <PageSection backgroundColor={'var(--color-gray)'} padding={["pt-large", "pb-large"]}>
      <h2 id="projects" class="heading--2">SEE RECENT PROJECTS</h2>
      <div class="project-grid grid">
        <ProjectCard
        reversed
          title="Beauty Kingdom Awards"
          description="British awards to recognize businesses in the beauty industry."
          link="beautykingdomawards.co.uk"
          image="/assets/face.svg"
        />
        <ProjectCard
          title="ET Marketing Solutions"
          description="London based, award wining marketing agency."
          link="etmarketingsolutions.co.uk"
          image="/assets/speaker.svg"
        />
        <ProjectCard
        reversed
          title="Szewska 64"
          description="The oldest antique bookstore in Wroclaw."
          link="szewska64.pl"
          image="/assets/books.svg"
        />
      </div>
    </PageSection>
    <ContactFormSection />
  </main>
  <MainFooter />
</Layout>

<style>
  .about {
    --grid-gap: 3rem;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .about__text-column {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .about__text-column > div {
    margin-top: 1rem;
  }
  .about__text-column > .button {
    margin-top: 2rem;
  }
  .about__img {
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    align-items: flex-end;
  }

  .project-grid {
    --grid-gap: 3rem;
    grid-template-columns: 1fr;
    margin: 3rem auto 0;
    /* max-width: 920px; */
  }
  @media (min-width: 640px) {
    .about__text-column {
    align-items: flex-start;
  }
  }
  @media (min-width: 1024px) {
    .about {
      grid-template-columns: 2fr 1fr;
    }
    .about__img {
    margin: 0;
    width: 400px;
  }
  }
</style>
