<header class="container">
  <nav class="navigation flex">
    <div class="logo"><a href="#">MAJDA<span>.ORG</span></a></div>
    <ul class="navigation-menu flex" style="--gap:3rem;">
      <li><a href="#">Who i am</a></li>
      <li><a href="#">Projects</a></li>
      <li><a class="button button--small" href="#">Let's talk!</a></li>
    </ul>
  </nav>
</header>

<style>
  .navigation {
    position: relative;
    z-index: 999;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;
  }

  .logo a {
    font-size: 24px;
    font-weight: 700;
    color: hsl(var(--clr-black));
  }

  .logo span {
    font-weight: 400;
  }

  .navigation-menu ul {
    justify-content: right;
    list-style: none;
    align-items: center;
  }

  .navigation-menu li {
    font-size: 16px;
    line-height: 2rem;
    list-style: none;
    align-items: center;
  }
</style>
