<header class="container">
  <nav class="navigation flex">
    <div class="logo"><a href="#">MAJDA<span>.ORG</span></a></div>
    <ul class="navigation-menu flex" >
      <li><a class="nav-link" href="#about">Who i am</a></li>
      <li><a class="nav-link" href="#projects">Projects</a></li>
      <li><a class="button button--small" href="#contact">Let's talk!</a></li>
    </ul>
  </nav>
</header>

<style>
  .navigation {
    position: relative;
    z-index: 999;
    padding: 1rem 0;
    align-items: flex-start;
    justify-content: space-between;
  }

  .logo a {
    font-size: 24px;
    font-weight: 700;
    color: hsl(var(--clr-black));
  }

  .logo span {
    font-weight: 400;
  }
.navigation-menu{
  --gap:.5rem;
  flex-direction: column-reverse;
}
  .navigation-menu ul {
    justify-content: right;
    list-style: none;
    align-items: ceter;
  }

  .navigation-menu li {
    font-size: 16px;
    line-height: 2rem;
    list-style: none;
    align-items: right;
    text-align: end;
  }
  .nav-link {
    padding: 0 0.5rem;
  }

  @media (min-width: 1024px){
    .navigation {
    align-items: center;

    }
    .navigation-menu {
      --gap:2rem;
      flex-direction: row;
    }
    .navigation-menu li {
    align-items: center;
  }
  }
</style>
