---
import "../../styles/utility.css";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const {
  title = "Majda.org - create a website with me",
  description = "Contact me today to schedule a consultation and see how I can help you reach your digital goals by creating custom, responsive website and functional app tailored to your needs.",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="robots" content="index, follow">
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
  rel="stylesheet"
/>
